<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/signUp.css') %>">


<div id="user-details">
    <% if(user.id == profile_user.id){%>

        <div class="headers">
                <h1>Update Profile</h1>
        </div>
    <%} else{%>
        <div class="headers">
                <h1>User Profile</h1>
        </div>

    <%}%>

    <div class="user-name">
        <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">

        <% if(user.id == profile_user.id){%>  <!-- if the current signed user sees his profile, here not using locals.user as we are using authentication check -->
            <!-- if user matches then show the form -->

            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <input type="text" class="headers"  name="name" placeholder="Your name" value="<%= profile_user.name%>" required>
                <input type="email" class="headers"  name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>

                <input type="file" class="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" class="button" value="Update">
            </form>
        </div>
        <%}else{%>
            <div>
            <!-- else show only the profile info  -->
                <p><%= profile_user.name %></p>
                <p><%= profile_user.email %></p>
            </div>
        <%} %>
    </div>

    <div class="add-friend">
    <% if (locals.user && user.id != profile_user.id){ %>
        <a class="toggle-friend-button" href="/friends/toggle/?id=<%=profile_user._id%>">
          <span>
            <%let flag= 0%>
            <%if (locals.user.friendships.length > 0){%>
                    <%for (i of locals.user.friendships){%>
                            <%if (i == profile_user.id){%>
                                    <%flag = 1%>
                                    <%break%>   
                            <%}else{%>
                                    <%flag = 0%>
                            <%} %>
                    <%} %>
                    <%if (flag == 1){%>
                            Remove Friend
                    <%}else {%>
                            Add Friend
                    <%}%>
            <%}else{%>
                    Add Friend
            <%}%>
          </span>
        </a>
    <%}%>
    </div>
</div>

<script src="<%= assetPath('js/toggle_friends.js') %>"></script>
<script>
    $('.toggle-friend-button').each(function(){
        let self = this;
        let toggleFriend = new ToggleFriend(self);
    });
</script>